-if object.errors.any? 
	.alert.alert-danger
		= "#{pluralize(object.errors.count,'error')} prohibited this thing from being saved: "
		%ul
			- object.errors.full_messages.each do |msg|
				%li= "#{msg}"