%nav.navbar{ role: :navigation }
  .container-fluid
    =link_to 'Banner Machin', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li= link_to 'foo', '/foo'
      %li= link_to 'bar', '/bar'