%nav.navbar{ role: :navigation }
  .container-fluid
    =link_to 'Banner Machin', root_path, class: 'navbar-brand'
    %ul.nav.nav-pills
      %li{ class: active_menu_item(:show) }
        = link_to 'Show', v1_path
      %li{ class: active_menu_item(:banners) }
        = link_to 'Control', banners_path