$grid-columns: 24;
$grid-gutter-width: 5px;

@import "bootstrap-sprockets";
@import "bootstrap-custom";

@import "layout";
@import "banners";


#radio_banner_type {
	label:not(:first-child) {
		margin-right: 10px;
	}
	label:first-child {
		margin-right: 14px;
	}
}

#checkbox_place {
	label:not(:first-child) {
		margin-right: 10px;
	}
	label:first-child{
		margin-right: 10px;
	}
}
