$top-banner-width: 728px;
$top-banner-height: 90px;

$right-banner-width: 120px;
$right-banner-height: 320px;

$bottom-banner-width: 728px;
$bottom-banner-height: 90px;

.banner {
  img {
    border: 1px solid ; 
  }
}

.top-banner {
  width: $top-banner-width;
  height:$top-banner-height;

  @include center_block();
}

.right-banner {
  width: $right-banner-width;
  height:$right-banner-height;

  margin-top: 80px;

  margin-left:auto;
  margin-right:-10px;
}

.bottom-banner{
  width: $top-banner-width;
  height:$top-banner-height;

  @include center_block();
}
