#aside-menu {
  .active a {
    background-color: #00CC99;
  }  
}

.navbar {
  margin-top: 5px;

  .navbar-brand {
    width: 169px;
    text-align: center;
  }

  .nav {
    padding-top: 6px;
  }

  .nav > li:first-child {
    padding-left: 14px;
  }
}

article {
  padding-top: 7px;
  h3 {
    margin-top: 0;
    padding-left: 420px;
    margin-top: 1em;
  }
  p {
    text-indent: 5%;
    margin-bottom: 1.1em;
  }
}
